.entry-content .seeking1{
font-family: Raleway;
}
.entry-content .seeking2{
	text-align:center;
	margin-top: 10px;
}
.seeking3{
	left:25%;
	text-align:center;
}
.entry-content .test1{
	font-family: Raleway;
}
.entry-content .therap1{
	font-family: Raleway;
}
.therap2{
	color:#6D9CC7;
	font-size:1.5em;
	line-height:1;
}
.entry-content .want1{
font-family: Raleway;
}
.want2{
	text-align:center;
	margin-top: 10px;
}
.want3{
	left:25%;
	text-align:center;
}
